footer {
	text-decoration: none;
	text-align: center;
    font-size: 1.0em;
}

#footer-text{
	text-decoration: none;
	text-align: center;
    color: #0a2929;
    font-size: 0.75em;
    opacity: 0.5;
}

.subtitle {
	font-size: 1.5em;
	color: #2eb8b8;
}

c {
	line-height: 90px;
	padding: 25px 50px;
}

.typed-cursor{
	font-size: 1.5em;
	color: #2eb8b8;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
