@media only screen and (max-width: 480px) {
	.profheader {
		text-align: center;
		width = 480px;
	}
	
	.profheader img {
		text-align: center;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	p a {
		text-decoration: none;
		font-weight: 600;
		color: #2eb8b8;
	}

	h1 {
		text-align: center;
	}
 
	.subtitle {
		margin-left: auto;
 		margin-right:auto;
	}
	
	img {
    	position: relative;
    	margin-left: auto;
    	margin-right: auto;
	}	
}

@media only screen and (min-width: 481px) {
	.profheader {
		float: right;
	}

	.profheader img {
		width: 350px;
	}
	
	p a {
	    text-decoration: none;
		font-weight: 600;
		color: #2eb8b8;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
	}

	p a:hover {
	  border: none;
	  box-shadow: inset 0 -25px 0 0 #2eb8b8;
	  color: #FFF;
	}
}

img {
	position: relative;
    margin-top: 4.0em;
}

.container {
    display: block;
    max-width: 60em;
    padding: 6em 1vw 1 9em;
}

h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 1em;
    margin-top: 1.0em;
    margin-bottom: 0.25em;
    color: #0a2929;
}

p {
    padding-top: 1em;
    font-size: 1em;
    line-height: 1.5em;
}

i {
	text-decoration: none;
    padding: 0.20em;
    color: black;
    opacity: 0.7;
}

i:hover {
	text-decoration: none;
    color: #2eb8b8;
    opacity: 1;
}

.linkerinos img {
	margin-top: 10px;
	text-decoration: none;
	max-width: 40px;
}

footer {
	text-decoration: none;
	text-align: center;
    font-size: 1.0em;
}

#footer-text{
	text-decoration: none;
	text-align: center;
    color: #0a2929;
    font-size: 0.75em;
    opacity: 0.5;
}

.subtitle {
	font-size: 1.5em;
	color: #2eb8b8;
}

c {
	line-height: 90px;
	padding: 25px 50px;
}

.typed-cursor{
	font-size: 1.5em;
	color: #2eb8b8;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}